div{
    display: flex; 
    justify-content: space-between;   
}

img{
    max-width: 30%;
}

 @media only screen and ( max-width:400px ) {
 
    div{
        display: flex; 
        flex-direction: column;
    }

    img{
        height:auto;
        max-width: 100%;
        padding: 10px;

    }



} 


